* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

.label_login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.input_form {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

.send_btn {
    width: 150px;
    height: 60px;
    border-radius: 15px;
    background-color: darkgray;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
}

.send_btn:hover {
    background-color: rgb(120, 120, 120);
}